In [1]:
import pandas as pd
import numpy as np

In [2]:
#load .csv 
coffee_data = pd.read_csv("data/project_data.csv")

coffee_data.head()

,Country Name,Year,Coffee Consumed,MEASURE,gdp_per_hour_worked,gdp_for_year,gdp_per_capita,population,Unemployed (%)
0,Austria,1999,1123,USD,43.67,217185787343,28722,7561609,3.7
1,Austria,2000,875,USD,44.71,196799778883,25922,7592073,3.5
2,Austria,2001,1013,USD,45.28,197337879195,25848,7634560,3.6
3,Austria,2002,926,USD,46.14,213377771504,27772,7683162,4.0
4,Austria,2003,720,USD,46.51,261695778781,33889,7722033,4.3

In [3]:
#Drop Unneeded Columns
coffee_data.dropna(axis='columns', thresh=2, inplace = True)

In [4]:
#Convert Coffee Consumed to Numeric

coffee_data['Coffee Consumed'] = coffee_data['Coffee Consumed'].astype('str')
coffee_data['Coffee Consumed'] = coffee_data['Coffee Consumed'].str.replace(',', '')
coffee_data['Coffee Consumed'] = pd.to_numeric(coffee_data['Coffee Consumed'])

#Calculate Coffee Consumed in kg
coffee_data['Coffee Consumed in KG'] = coffee_data['Coffee Consumed'] * 1000 * 60
coffee_data.head()

,Country Name,Year,Coffee Consumed,MEASURE,gdp_per_hour_worked,gdp_for_year,gdp_per_capita,population,Unemployed (%),Coffee Consumed in KG
0,Austria,1999,1123,USD,43.67,217185787343,28722,7561609,3.7,67380000
1,Austria,2000,875,USD,44.71,196799778883,25922,7592073,3.5,52500000
2,Austria,2001,1013,USD,45.28,197337879195,25848,7634560,3.6,60780000
3,Austria,2002,926,USD,46.14,213377771504,27772,7683162,4.0,55560000
4,Austria,2003,720,USD,46.51,261695778781,33889,7722033,4.3,43200000

In [5]:
#Calculate Coffee Consumed per capita in KG

coffee_data["Coffee Consumed per Capita in Kg"] = coffee_data['Coffee Consumed in KG'] / coffee_data['population']

coffee_data.head()

,Country Name,Year,Coffee Consumed,MEASURE,gdp_per_hour_worked,gdp_for_year,gdp_per_capita,population,Unemployed (%),Coffee Consumed in KG,Coffee Consumed per Capita in Kg
0,Austria,1999,1123,USD,43.67,217185787343,28722,7561609,3.7,67380000,8.910802
1,Austria,2000,875,USD,44.71,196799778883,25922,7592073,3.5,52500000,6.915107
2,Austria,2001,1013,USD,45.28,197337879195,25848,7634560,3.6,60780000,7.961166
3,Austria,2002,926,USD,46.14,213377771504,27772,7683162,4.0,55560000,7.231398
4,Austria,2003,720,USD,46.51,261695778781,33889,7722033,4.3,43200000,5.594382

In [6]:
coffee_data.to_csv("project_data_with_percapita_consumption.csv", index=False)