In [5]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import sem, ttest_ind

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
coffee_data_to_load = "data/project_data.csv"

# Read the Data
coffee_data = pd.read_csv("../data/project_data_with_percapita_consumption.csv")

#coffee_data.head()
# plt.rcParams["figure.figsize"] = 16,9
df = coffee_data[["Country Name","Year","Coffee Consumed","gdp_per_hour_worked ($)"]]
df.head()

  Country Name  Year  Coffee Consumed  gdp_per_hour_worked ($)
0      Austria  1999             1123                43.673565
1      Austria  2000              875                44.712574
2      Austria  2001             1013                45.283182
3      Austria  2002              926                46.141633
4      Austria  2003              720                46.505529