This is a data cleanup/merge notebook.

In [1]:
#Import libraries
import pandas as pd
import numpy as np

In [15]:
#Load Data Frames
Unemployment_data = pd.read_csv("unemployment.csv")
financial_data = pd.read_csv("Financial Data.csv")
consumption_data = pd.read_csv("coffee_consumption.csv", header=3, encoding="latin")
gdp_perhw_data = pd.read_csv("gdp_hrwkd.csv")
srini_data = pd.read_csv("Coffee_Consuption_clean.csv")
consumption_data.head

<bound method NDFrame.head of                                 Austria   1,340   1,302   1,212   1,335  \
0                               Belgium     NaN     NaN     NaN     NaN
1                    Belgium/Luxembourg   1,124     708     696     789
2                              Bulgaria     102      17     175     327
3                               Croatia     NaN     NaN     135     132
4                                Cyprus      31      45      39      78
5                        Czech Republic     659     525     472     448
6                               Denmark     865     909     959     891
7                               Estonia     NaN     NaN      13      44
8                               Finland   1,070     966   1,030   1,129
9                                France   5,205   5,557   5,614   5,507
10                              Germany   7,279  12,377   9,570  11,325
11                               Greece     631     387     320     148
12                              Hungary     574     380     348     557
13                              Ireland     120     113      91     107
14                                Italy   4,832   4,254   4,132   4,888
15                               Latvia     NaN     NaN      19      41
16                            Lithuania     NaN     NaN       2       9
17                           Luxembourg     NaN     NaN     NaN     NaN
18                                Malta      20      13      16      22
19                          Netherlands   2,383   2,488   3,261   2,719
20                               Poland     335     243   1,650   1,545
21                             Portugal     467     448     573     529
22                              Romania     442     335     601     420
23                             Slovakia     NaN     NaN     NaN     276
24                             Slovenia     NaN     NaN     115     148
25                                Spain   2,714   2,651   3,045   2,728
26                               Sweden   1,689   1,604   1,634   1,618
27                       United Kingdom   2,348   2,342   2,516   2,534
28                                  NaN     NaN     NaN     NaN     NaN
29                                Japan   5,060   5,809   5,132   5,740
30                               Norway     727     758     736     690
31                   Russian Federation     NaN     NaN   1,377   1,795
32                          Switzerland     907     949     995     869
33                              Tunisia     101      90     111     101
34                                  USA  18,298  18,661  18,290  19,217
35                                  NaN     NaN     NaN     NaN     NaN
36                                Total  59,322  63,930  64,882  68,704
37  Â© International Coffee Organization     NaN     NaN     NaN     NaN

     1,086   1,012   1,076   1,087   1,105     ...         908     886  \
0      NaN     NaN     NaN     NaN     NaN     ...         650     934
1      958   1,073   1,039     886   1,309     ...         NaN     NaN
2      353     393     246     275     324     ...         445     409
3      164     288     304     361     320     ...         377     366
4       45      43      52      46      46     ...          77      75
5      509     511     475     485     523     ...         621     525
6      908     758     895     808     854     ...         688     676
7       63      83      84      99      90     ...         154     123
8    1,050     735     901     939   1,001     ...       1,115   1,058
9    5,111   5,313   5,512   5,487   5,351     ...       5,152   5,677
10   8,214  11,231  10,594   9,670   9,976     ...       9,535   8,897
11     356     383     715     739     668     ...         978     974
12     724     447     571     602     652     ...         494     445
13     127     107      87      97      92     ...         115     134
14   4,774   4,644   4,776   4,913   4,936     ...       5,892   5,806
15       6      14      50     120     134     ...         115      88
16      37      68      66     108     135     ...         204     210
17     NaN     NaN     NaN     NaN     NaN     ...         239     222
18      12      21       9       9       7     ...          23      14
19   2,122   2,293   2,509   2,367   1,961     ...       1,324     898
20   1,742   1,637   1,755   1,966   1,965     ...       1,681   2,001
21     673     632     615     603     696     ...         747     731
22     347     550     696     630     584     ...         807     775
23     234     223     244     234     241     ...         341     213
24     152     140     164     161     162     ...         194     198
25   2,774   2,732   2,901   2,977   2,996     ...       3,485   3,352
26   1,669   1,204   1,298   1,241   1,248     ...       1,272   1,133
27   2,640   2,200   2,406   2,441   2,588     ...       3,067   3,220
28     NaN     NaN     NaN     NaN     NaN     ...         NaN     NaN
29   5,973   6,116   5,838   5,968   6,052     ...       7,065   7,130
30     800     657     713     675     702     ...         715     715
31   1,712   1,650   1,063   1,857   1,647     ...       3,633   3,113
32     944     935     922     712     811     ...       1,149     966
33     137     137     144     165     147     ...         317     289
34  17,326  17,363  18,059  17,795  18,604     ...      21,652  21,436
35     NaN     NaN     NaN     NaN     NaN     ...         NaN     NaN
36  63,742  65,593  66,780  66,525  67,927     ...      75,231  73,690
37     NaN     NaN     NaN     NaN     NaN     ...         NaN     NaN

       903   1,117   1,269   1,249 Unnamed: 25 Unnamed: 26 Unnamed: 27  \
0      871     934     915   1,245         NaN         NaN         NaN
1      NaN     NaN     NaN     NaN         NaN         NaN         NaN
2      395     360     376     419         NaN         NaN         NaN
3      370     367     360     387         NaN         NaN         NaN
4       74      81      85      89         NaN         NaN         NaN
5      470     572     685     637         NaN         NaN         NaN
6      806     762     800     822         NaN         NaN         NaN
7      105      67     104     120         NaN         NaN         NaN
8    1,080   1,093   1,082   1,095         NaN         NaN         NaN
9    5,713   5,962   5,790   5,707         NaN         NaN         NaN
10   9,292   9,460   8,830   9,378         NaN         NaN         NaN
11     994   1,023   1,076   1,101         NaN         NaN         NaN
12     376     180     252     177         NaN         NaN         NaN
13     160     179     214     196         NaN         NaN         NaN
14   5,781   5,689   5,710   5,634         NaN         NaN         NaN
15      99     101     101      95         NaN         NaN         NaN
16     223     180     193     197         NaN         NaN         NaN
17     232     215     212     241         NaN         NaN         NaN
18      12      16      21      22         NaN         NaN         NaN
19   1,347     909   1,382   1,625         NaN         NaN         NaN
20   2,156   2,034   1,936   1,669         NaN         NaN         NaN
21     812     859     828     840         NaN         NaN         NaN
22     796     802     849     891         NaN         NaN         NaN
23     337     388     201     328         NaN         NaN         NaN
24     205     208     185     184         NaN         NaN         NaN
25   3,232   3,149   3,435   3,234         NaN         NaN         NaN
26   1,221   1,125   1,159   1,175         NaN         NaN         NaN
27   3,134   2,925   2,926   2,828         NaN         NaN         NaN
28     NaN     NaN     NaN     NaN         NaN         NaN         NaN
29   7,192   7,015   7,131   7,435       7,494       7,695       7,872
30     746     785     723     763         729         788         782
31   3,700   3,754   3,696   3,648       4,021       3,846       4,439
32   1,012   1,035   1,047   1,123       1,028       1,096       1,066
33     301     415     421     429         460         458         465
34  21,783  22,044  22,232  23,417      23,767      24,438      25,243
35     NaN     NaN     NaN     NaN         NaN         NaN         NaN
36  75,931  75,804  76,229  78,400      79,938      79,891      83,489
37     NaN     NaN     NaN     NaN         NaN         NaN         NaN

   Unnamed: 28
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29       7,742
30         781
31       4,512
32         894
33         546
34      26,186
35         NaN
36      82,749
37         NaN

[38 rows x 29 columns]>

In [16]:
#Remove N/A rows from Consumption Data Frame

consumption_clean_rows = consumption_data.dropna(thresh=11)

#Filter for data for 1999-2013
consumption_clean = consumption_clean_rows.dropna(axis=1)
consumption_clean.head()

,Austria,"1,123",875,"1,013",926,720,996,772,612,847,908,886,903,"1,117","1,269","1,249"
0,Belgium,834,"1,133",884,"1,484","1,579","1,396","1,158","1,537","1,103",650,934,871,934,915,"1,245"
2,Bulgaria,363,275,350,341,397,364,430,420,364,445,409,395,360,376,419
3,Croatia,337,327,337,355,375,370,374,386,386,377,366,370,367,360,387
4,Cyprus,54,67,53,51,53,60,70,55,69,77,75,74,81,85,89
5,Czech Republic,558,560,633,642,623,605,656,631,679,621,525,470,572,685,637

In [17]:
#Rename Calendar years as Country Name
consumption_clean.rename(index=str, columns={"Calendar years": "Country Name"}, inplace=True)
consumption_clean.columns

/anaconda2/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

Index(['   Austria', '1,123', '875', '1,013', '926', '720', '996', '772',
       '612', '847', '908', '886', '903', '1,117', '1,269', '1,249'],
      dtype='object')

In [7]:
#Move Years to a single column
consumption_clean2 = pd.melt(consumption_clean, id_vars=['Country Name'], var_name="Year", value_name="Coffee Consumed")
consumption_clean2

KeyError: 'Country Name'

In [ ]:
#Remove Extra spaces in front of Country Names
consumption_clean2["Country Name"] = consumption_clean2["Country Name"].str.strip()

In [ ]:
#View Financial Data Set
financial_data.head()

In [ ]:
#Drop Unneeded Columns
financial_data_clean = financial_data.drop(columns=['sex', 'age', 'suicides_no',
                                                    'suicides/100k pop', 'country-year', 'HDI for year', 'generation'])
financial_data_clean.columns

In [ ]:
#Group by Country and Year
financial_group = financial_data_clean.groupby(["country", "year", " gdp_for_year ($) ",
                                                "gdp_per_capita ($)"])

total_pop = financial_group.sum()
total_pop.reset_index(inplace=True)
total_pop.head()

In [ ]:
#rename country to Country Name and year to Year
total_pop.rename(index=str, columns={"country": "Country Name","year": "Year" }, inplace=True)

In [ ]:
total_pop.head()

In [ ]:
#View GDP per Hour Worked file
gdp_perhw_data.dtypes

In [ ]:
#Drop Unneeded Columns
gdph_clean = gdp_perhw_data.drop(columns=['LOCATION', 'INDICATOR', 'SUBJECT',
                                                    'FREQUENCY', 'Flag Codes'])
#rename Country to Country Name
gdph_clean.rename(index=str, columns={"Country": "Country Name", "TIME": "Year"}, inplace=True)
gdph_clean.head()

In [ ]:
#Remove extra spaces in front of country name
gdph_clean["Country Name"] = gdph_clean["Country Name"].str.strip()

#Convert Year to object
gdph_clean["Year"] = gdph_clean["Year"].astype(object)

In [ ]:
#View Unemployment data
Unemployment_data.head()

In [ ]:
#Drop Uneeded Columns
Unemployment_data.drop(columns=['Country Code', 'Indicator Name'], inplace = True)
Unemployment_data.head()

In [ ]:
#Rename Value to %Unemployed
Unemployment_data.rename(index=str, columns={"Value": "% Unemployed"}, inplace=True)
Unemployment_data.head()

In [ ]:
consumption_clean2['Country Name'] = consumption_clean2['Country Name'].astype(str)
consumption_clean2['Year'] = consumption_clean2['Year'].astype(str)
consumption_clean2.dtypes

In [ ]:
gdph_clean['Country Name'] = gdph_clean['Country Name'].astype(str)
gdph_clean['Year'] = gdph_clean['Year'].astype(str)
gdph_clean.dtypes

In [ ]:
total_pop['Year'] = total_pop['Year'].astype(str)
total_pop.dtypes

In [ ]:
total_pop['Year'] = total_pop['Year'].astype(str)
Unemployment_data.dtypes

In [ ]:
#Merge Data Sets 
combine_1 = pd.merge(consumption_clean2, gdph_clean, how='left', on=['Country Name', 'Year'])
combine_1.head()

In [ ]:
combine_2 = pd.merge(combine_1, total_pop, how='left', on=['Country Name', 'Year'])
combine_2.head()

In [ ]:
combine_3 = pd.merge(combine_2, Unemployment_data, how='left', on=['Country Name', 'Year'])
combine_3.head()

In [ ]:
combine_clean = combine_3.loc[combine_3["MEASURE"] == "USD", :]
combine_clean.head()

In [ ]:
combine_clean.count()

In [ ]:
#Drop NA's
combine_clean2 = combine_clean.dropna(how='any')
combine_clean2.count()

In [ ]:
#Write to csv
combine_clean2.to_csv("project data.csv", index=False)

In [ ]:
srini_data.head()
srini_data.rename(index=str, columns={"Value": "Coffee Consumed"}, inplace=True)

srini_data.head()

In [ ]:
srini_data['Year'] = srini_data['Year'].astype(str)
srini_data['Country Name'] = srini_data['Country Name'].astype(str)
srini_data.dtypes

In [ ]:
scombine_1 = pd.merge(srini_data, gdph_clean, how='left', on=['Country Name', 'Year'])
scombine_1.head()

In [ ]:
scombine_2 = pd.merge(scombine_1, total_pop, how='left', on=['Country Name', 'Year'])
scombine_2.head()

In [ ]:
scombine_3 = pd.merge(scombine_2, Unemployment_data, how='left', on=['Country Name', 'Year'])
scombine_3.head()

In [ ]:
scombine_clean = scombine_3.loc[scombine_3["MEASURE"] == "USD", :]

In [ ]:
#Drop NA's
scombine_clean2 = scombine_clean.dropna(how='any')
scombine_clean2.count()

In [ ]:
scombine_clean2.to_csv("project data(srini data).csv", index=False)