This is a data cleanup/merge notebook.

In [1]:
import pandas as pd
import numpy as np

In [2]:
coffee_data = pd.read_csv("coffee_data.csv")
coffee_data.head()

#Clean "Year" column 
coffee_data['YEAR'] = coffee_data['YEAR'].astype(str).str[:-3].astype(np.int64)
coffee_data.head()

,COUNTRY,YEAR,MONTH,TOTAL_PRODUCTION,DOMESTIC_CONSUMPTION,EXPORTABLE_PRODUCTION,GROSS_OPENING_STOCKS
0,Angola,1990,April,50.3450,20.0,30.3450,210.000
1,Bolivia,1990,April,122.7770,25.0,97.7770,54.000
2,Brazil,1990,April,27285.6286,8200.0,19085.6286,26926.000
3,Burundi,1990,April,487.3930,2.0,485.3930,77.000
4,Ecuador,1990,April,1503.8150,350.0,1153.8150,723.963

In [3]:
gdp_data = pd.read_csv("DP_LIVE_23012019025244104.csv")
gdp_data

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,GDPHRWKD,TOT,USD,A,1970,26.793218,NaN
1,AUS,GDPHRWKD,TOT,USD,A,1971,27.462937,NaN
2,AUS,GDPHRWKD,TOT,USD,A,1972,28.067364,NaN
3,AUS,GDPHRWKD,TOT,USD,A,1973,28.645413,NaN
4,AUS,GDPHRWKD,TOT,USD,A,1974,28.189555,NaN
5,AUS,GDPHRWKD,TOT,USD,A,1975,29.232949,NaN
6,AUS,GDPHRWKD,TOT,USD,A,1976,29.720941,NaN
7,AUS,GDPHRWKD,TOT,USD,A,1977,29.687325,NaN
8,AUS,GDPHRWKD,TOT,USD,A,1978,30.939895,NaN
9,AUS,GDPHRWKD,TOT,USD,A,1979,31.089906,NaN
10,AUS,GDPHRWKD,TOT,USD,A,1980,31.423326,NaN
11,AUS,GDPHRWKD,TOT,USD,A,1981,32.351621,NaN
12,AUS,GDPHRWKD,TOT,USD,A,1982,32.756218,NaN
13,AUS,GDPHRWKD,TOT,USD,A,1983,33.576919,NaN
14,AUS,GDPHRWKD,TOT,USD,A,1984,34.311822,NaN
15,AUS,GDPHRWKD,TOT,USD,A,1985,34.254392,NaN
16,AUS,GDPHRWKD,TOT,USD,A,1986,34.257165,NaN
17,AUS,GDPHRWKD,TOT,USD,A,1987,34.967171,NaN
18,AUS,GDPHRWKD,TOT,USD,A,1988,34.859657,NaN
19,AUS,GDPHRWKD,TOT,USD,A,1989,34.971994,NaN
20,AUS,GDPHRWKD,TOT,USD,A,1990,34.344514,NaN
21,AUS,GDPHRWKD,TOT,USD,A,1991,35.138886,NaN
22,AUS,GDPHRWKD,TOT,USD,A,1992,36.217276,NaN
23,AUS,GDPHRWKD,TOT,USD,A,1993,36.295044,NaN
24,AUS,GDPHRWKD,TOT,USD,A,1994,36.356423,NaN
25,AUS,GDPHRWKD,TOT,USD,A,1995,37.455004,NaN
26,AUS,GDPHRWKD,TOT,USD,A,1996,38.773035,NaN
27,AUS,GDPHRWKD,TOT,USD,A,1997,40.072178,NaN
28,AUS,GDPHRWKD,TOT,USD,A,1998,41.364961,NaN
29,AUS,GDPHRWKD,TOT,USD,A,1999,41.734329,NaN
...,...,...,...,...,...,...,...,...
3346,ROU,GDPHRWKD,TOT,IDX2010,A,2011,101.037916,NaN
3347,ROU,GDPHRWKD,TOT,IDX2010,A,2012,113.268564,B
3348,ROU,GDPHRWKD,TOT,IDX2010,A,2013,118.620945,NaN
3349,ROU,GDPHRWKD,TOT,IDX2010,A,2014,122.686250,NaN
3350,ROU,GDPHRWKD,TOT,IDX2010,A,2015,129.559816,NaN
3351,ROU,GDPHRWKD,TOT,IDX2010,A,2016,135.554555,NaN
3352,ROU,GDPHRWKD,TOT,IDX2010,A,2017,142.503135,NaN
3353,ROU,GDPHRWKD,TOT,USD,A,1995,10.876374,NaN
3354,ROU,GDPHRWKD,TOT,USD,A,1996,11.436855,NaN
3355,ROU,GDPHRWKD,TOT,USD,A,1997,10.799747,NaN
3356,ROU,GDPHRWKD,TOT,USD,A,1998,10.911258,NaN
3357,ROU,GDPHRWKD,TOT,USD,A,1999,11.056340,NaN
3358,ROU,GDPHRWKD,TOT,USD,A,2000,11.391143,NaN
3359,ROU,GDPHRWKD,TOT,USD,A,2001,12.160539,NaN
3360,ROU,GDPHRWKD,TOT,USD,A,2002,14.126348,NaN
3361,ROU,GDPHRWKD,TOT,USD,A,2003,15.158228,NaN
3362,ROU,GDPHRWKD,TOT,USD,A,2004,16.622214,NaN
3363,ROU,GDPHRWKD,TOT,USD,A,2005,17.517301,NaN
3364,ROU,GDPHRWKD,TOT,USD,A,2006,18.634926,NaN
3365,ROU,GDPHRWKD,TOT,USD,A,2007,19.747826,NaN
3366,ROU,GDPHRWKD,TOT,USD,A,2008,21.373296,NaN
3367,ROU,GDPHRWKD,TOT,USD,A,2009,20.631228,NaN
3368,ROU,GDPHRWKD,TOT,USD,A,2010,20.183338,NaN
3369,ROU,GDPHRWKD,TOT,USD,A,2011,20.392824,NaN
3370,ROU,GDPHRWKD,TOT,USD,A,2012,22.861377,NaN
3371,ROU,GDPHRWKD,TOT,USD,A,2013,23.941666,NaN
3372,ROU,GDPHRWKD,TOT,USD,A,2014,24.762180,NaN
3373,ROU,GDPHRWKD,TOT,USD,A,2015,26.149495,NaN
3374,ROU,GDPHRWKD,TOT,USD,A,2016,27.359434,NaN
3375,ROU,GDPHRWKD,TOT,USD,A,2017,28.761889,NaN

In [4]:
cc_data = pd.read_csv("country_code_web.csv", encoding="latin")
cc_data.head()

  Country or area name ISO ALPHA-3 code
0          Afghanistan              AFG
1        Åland Islands              ALA
2              Albania              ALB
3              Algeria              DZA
4       American Samoa              ASM

In [5]:
new_cc_data = cc_data.rename(columns={"Country or area name":"COUNTRY","ISO ALPHA-3 code":"LOCATION" })
new_cc_data.head()

          COUNTRY LOCATION
0     Afghanistan      AFG
1   Åland Islands      ALA
2         Albania      ALB
3         Algeria      DZA
4  American Samoa      ASM

In [6]:
combined_coffee_country_df = pd.merge(coffee_data, new_cc_data, on="COUNTRY")
combined_coffee_country_df

,COUNTRY,YEAR,MONTH,TOTAL_PRODUCTION,DOMESTIC_CONSUMPTION,EXPORTABLE_PRODUCTION,GROSS_OPENING_STOCKS,LOCATION
0,Angola,1990,April,50.3450,20.0,30.3450,210.0,AGO
1,Angola,1991,April,79.3310,30.0,49.3310,161.0,AGO
2,Angola,1992,April,77.5200,35.0,42.5200,136.0,AGO
3,Angola,1993,April,32.6080,20.0,12.6080,111.0,AGO
4,Angola,1994,April,76.8020,25.0,51.8020,96.0,AGO
5,Angola,1995,April,62.1090,10.0,52.1090,36.0,AGO
6,Angola,1996,April,70.9250,20.0,50.9250,40.0,AGO
7,Angola,1997,April,64.3300,40.0,24.3300,40.0,AGO
8,Angola,1998,April,85.3440,30.0,55.3440,10.0,AGO
9,Angola,1999,April,54.9390,20.0,34.9390,10.0,AGO
10,Angola,2000,April,49.7850,20.0,29.7850,5.0,AGO
11,Angola,2001,April,20.6900,20.0,0.6900,15.0,AGO
12,Angola,2002,April,56.6400,20.0,36.6400,5.0,AGO
13,Angola,2003,April,38.0130,15.0,23.0130,30.0,AGO
14,Angola,2004,April,14.7700,15.0,0.0000,40.0,AGO
15,Angola,2005,April,24.9650,15.0,9.9650,35.0,AGO
16,Angola,2006,April,35.0950,30.0,5.0950,40.0,AGO
17,Angola,2007,April,35.6310,30.0,5.6310,40.0,AGO
18,Angola,2008,April,37.6100,30.0,7.6100,40.0,AGO
19,Angola,2009,April,13.4200,30.0,0.0000,40.0,AGO
20,Angola,2010,April,34.9700,30.0,4.9700,20.0,AGO
21,Angola,2011,April,28.7150,30.0,0.0000,20.0,AGO
22,Angola,2012,April,32.7900,30.0,2.7900,10.0,AGO
23,Angola,2013,April,34.9350,30.0,4.9350,5.0,AGO
24,Angola,2014,April,39.4050,30.0,9.4050,5.0,AGO
25,Angola,2015,April,40.5150,30.0,10.5150,5.0,AGO
26,Angola,2016,April,44.8300,30.0,14.8300,5.0,AGO
27,Angola,2017,April,35.0060,30.0,5.0060,5.0,AGO
28,Bolivia,1990,April,122.7770,25.0,97.7770,54.0,BOL
29,Bolivia,1991,April,106.5360,30.0,76.5360,39.8,BOL
...,...,...,...,...,...,...,...,...
1342,Uganda,2016,October,4962.1580,240.0,4722.1580,790.0,UGA
1343,Uganda,2017,October,5100.0000,244.8,4855.2000,907.0,UGA
1344,Yemen,1990,October,NaN,NaN,0.0000,0.0,YEM
1345,Yemen,1991,October,NaN,NaN,0.0000,0.0,YEM
1346,Yemen,1992,October,NaN,NaN,0.0000,0.0,YEM
1347,Yemen,1993,October,NaN,NaN,0.0000,0.0,YEM
1348,Yemen,1994,October,NaN,NaN,0.0000,0.0,YEM
1349,Yemen,1995,October,NaN,NaN,0.0000,0.0,YEM
1350,Yemen,1996,October,NaN,NaN,0.0000,0.0,YEM
1351,Yemen,1997,October,NaN,NaN,0.0000,0.0,YEM
1352,Yemen,1998,October,68.7007,0.0,68.7007,0.0,YEM
1353,Yemen,1999,October,60.5790,0.0,60.5790,0.0,YEM
1354,Yemen,2000,October,63.9360,0.0,63.9360,0.0,YEM
1355,Yemen,2001,October,62.2185,0.0,62.2185,0.0,YEM
1356,Yemen,2002,October,56.7446,0.0,56.7446,0.0,YEM
1357,Yemen,2003,October,193.3027,146.0,47.3027,0.0,YEM
1358,Yemen,2004,October,205.5589,136.0,69.5589,0.0,YEM
1359,Yemen,2005,October,203.1808,138.0,65.1808,0.0,YEM
1360,Yemen,2006,October,207.2340,138.0,69.2340,0.0,YEM
1361,Yemen,2007,October,197.9537,130.0,67.9537,0.0,YEM
1362,Yemen,2008,October,219.7968,130.0,89.7968,0.0,YEM
1363,Yemen,2009,October,135.1816,130.0,5.1816,43.0,YEM
1364,Yemen,2010,October,161.1675,130.0,31.1675,5.0,YEM
1365,Yemen,2011,October,185.0677,130.0,55.0677,0.0,YEM
1366,Yemen,2012,October,187.5251,130.0,57.5251,0.0,YEM
1367,Yemen,2013,October,187.2981,130.0,57.2981,0.0,YEM
1368,Yemen,2014,October,183.3814,130.0,53.3814,0.0,YEM
1369,Yemen,2015,October,171.2460,130.0,41.2460,0.0,YEM
1370,Yemen,2016,October,173.4533,130.0,43.4533,0.0,YEM
1371,Yemen,2017,October,175.0000,130.0,45.0000,0.0,YEM

In [7]:
#all_combined = pd.merge(combined_coffee_country_df, gdp_data, on="LOCATION")
#all_combined